---
import { adminElements, adminBranchElements } from "@consts/adminElements"
import { cashierElements } from "@consts/cashierElements"

const { pathname } = Astro.url
const normalizedPathName =
  pathname.length > 1 && pathname.endsWith("/")
    ? pathname.slice(0, -1) : pathname
---

<aside class="sidebar">
  {Astro.url.pathname.includes('admin') && (
    <h3>Administrador</h3>
    <nav>
      <ul>
        {adminElements && adminElements.map(({ label, href, icon: Icon }) => (
          <li>
            <a href={href} class:list={[
                "sidebar-item",
                { "sidebar-item-active" : normalizedPathName.includes(`${href}`) }
              ]}>
              <Icon />
              <span>{label}</span>
            </a>
          </li>
        ))}
      </ul>
    </nav>

    <hr class="sidebar-separator" />

    <h3 class="sucursal-title">Sucursal</h3>
    <nav>
      <ul>
        {adminBranchElements && adminBranchElements.map(({ label, href, icon: Icon }) => (
          <li>
            <a
              href={href}
              class:list={[
                "sidebar-item",
                { "sidebar-item-active" : normalizedPathName.includes(`${href}`) }
              ]}
            >
              <Icon />
              {label}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )}

  {Astro.url.pathname.includes('cajero') && (
    <h3>Cajero</h3>
    <nav>
      <ul>
        {cashierElements && cashierElements.map(({ label, href, icon: Icon }) => (
          <li>
            <a href={href} class:list={[
                "sidebar-item",
                { "sidebar-item-active" : normalizedPathName.includes(`${href}`) }
              ]}>
              <Icon />
              <span>{label}</span>
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )}
</aside>

<style is:global>
  .sidebar {
    position: fixed;
    width: var(--sidebar);
    height: 100dvh;
    font-size: .9em;
    background-color: var(--bg-primary);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: .6em;
		z-index: 80;
		padding-bottom: 3em;
		color: var(--text-contrast-1)
  }
	
	@media (width <= 1080px) {
		.sidebar {
			display: none;
			width: 100%;
			padding-right: 1.5em;
			font-size: 1em;

			opacity: 0;
			transition: opacity .12s ease-in-out, display .12s ease-in-out allow-discrete;
		}

		.sidebar.show {
			display: block;
			opacity: 1;
			transition: opacity .12s ease-in-out;

			@starting-style { opacity: 0 }
		}
	}

  .sidebar h3 {
    margin-inline: 1.3em;
		letter-spacing: .04rem;
    margin-bottom: 1em;
    font-size: .8em;
		text-transform: uppercase;
    color: var(--text-contrast-2);
		font-weight: 600;
  }

	.sucursal-title {
		margin-top: 1em;
	}

  .sidebar h1 svg {
    width: 6px;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    gap: .75em;
    padding: .65em 1.3em;
    border-radius: 10px;
		transition: color .1s ease-in-out;
    position: relative;
  }
	
  .sidebar-item:hover:not(.sidebar-item-active) {
		color: var(--text)
  }
	
  .sidebar-item-active {
    color: var(--accent);
		font-weight: 500;
  }

  .sidebar ul > * + * {
    margin-top: .2em
  }

  .sidebar ul svg {
    width: 16px;
  }

	.sidebar-separator {
		border: 0;
		border-top: 1px solid var(--scroll);
		margin-top: .5rem;
		margin-bottom: 1.5rem;
	}
</style>